<br>
<div class = "row">
  <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">    
    <h3>Log In</h3>
  </div>
</div>

<%= form_tag sessions_path do %>
  <div class = "row">
    <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
      <%= label_tag "email" %>
      <%= text_field_tag "email" %>
    </div>
  </div>
<div class = "row">
    <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
      <%= label_tag "password" %>
      <%= password_field_tag "password" %>
    </div>
  </div>
<div class = "row">
  <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
      <%= submit_tag("Log In", :class => "small button radius") %>
    </div>
  </div>
<% end %>
<br>
