<%= form_for @movie, :html => {:multipart => true} do |f| %>
  
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "title" %>
      <%= f.text_field "title" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "release_date" %><br>
      <%= f.date_field "release_date" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "director" %>
      <%= f.text_field "director" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "runtime_in_minutes" %>
      <%= f.number_field "runtime_in_minutes" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "poster_image_url" %>
      <%= f.text_field "poster_image_url" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "poster" %>
      <%= f.file_field :poster %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "description" %>
      <%= f.text_area "description" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.submit "Submit" %> 
    </div>
  </div>
<% end %>
<br>