<div class="row">
<br>
  <!-- <div class="small-2 large-4 columns">
    <%= image_tag @movie.poster.thumb.url() %>
  </div> -->

  <div class="small-3 large-3 columns">
    <br>
    <%= link_to image_tag(@movie.poster_image_url), movie_path(@movie) %>
    <br>
    (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, confirm: "Are you sure?" %>)
  </div>

  <div class="small-9 large-9 columns">
    <h2><%= @movie.title %>
      <span class="round alert label"> 
        <%= @movie.review_average %>/10
      </span>
    </h2>
  </div>


  <div class="small-9 large-9 columns">
    <strong>Release Date: </strong><%= formatted_date(@movie.release_date) %>
  </div>

  <div class="small-9 large-9 columns">
    <strong>Director: </strong><%= @movie.director %>
  </div>

  <div class="small-9 large-9 columns">
    <strong>Runtime: </strong><%= @movie.runtime_in_minutes %> minutes
  </div>

  <div class="small-6 large-6 columns">
    <p><strong>Description: </strong><%= @movie.description %></p>
  </div>

  <div class="small-3 large-3 columns">
    <p> </p>
  </div>
</div>
<br>
<div class="row">
  <div class="small-6 medium-offset-3 large-6 columns">
    <h4>Reviews of <strong><%= @movie.title %></strong></h4>
  </div>
</div>

<div class="row">
  <div class="small-6 medium-offset-3 large-6 columns">
    <% if current_user %>
      <% @movie.reviews.each do |review| %>
        <div><strong>Review: </strong><%= review.text %></div>
        <div><strong>Rating: </strong><%= review.rating_out_of_ten %>/10</div>
        <div><strong>Author: </strong><%= review.user.full_name %></div>
        <br>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-6 medium-offset-3 large-6 columns">
    <%= link_to "Write a review!", new_movie_review_path(@movie) %>
  </div>
</div>
<div class="row">
  <div class="small-6 medium-offset-3 large-6 columns">
    <% else %>
      Please <%= link_to "log in", new_session_path %> to see reviews and add your own.
    <% end %>
  </div>
</div> 

  


