<% if @user.errors.any? %>
  <div>
    <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class = "row">
  <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
    <%= f.text_field "email", :placeholder => "Email" %>
  </div>
</div>

<div class = "row">
  <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
    <%= f.text_field "firstname", :placeholder => "First Name" %>
  </div>
</div>

<div class = "row">
    <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
    <%= f.text_field "lastname", :placeholder => "Last Name"  %>
  </div>
</div>

<div class = "row">
  <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
    <%= f.password_field "password", :placeholder => "Password" %>
  </div>
</div>

<div class = "row">
  <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
    <%= f.password_field "password_confirmation", :placeholder => "Confirm Password" %>
  </div>
</div>

<div class = "row">
  <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
    <%= submit_tag("Submit", :class => "small button radius") %> 
  </div>
</div>
