
<%= form_for [:admin, @user] do |f| %>
  
  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented this user from being submitted:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "firstname" %>
      <%= f.text_field "firstname" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "lastname" %>
      <%= f.text_field "lastname" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "email" %>
      <%= f.text_field "email" %>
    </div>
  </div>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= f.label "admin" %>
      <%= f.check_box "admin" %>
  <div class = "row">
    <div class="small-4 medium-4 large-4 columns">
      <%= submit_tag("Submit", :class => "small button radius") %>
    </div>
  </div>
<% end %>
<br>

