<h1>Admin Management</h1>
<%=link_to "Create a new user", new_admin_user_path %>

<h3>Users</h3>
<%= paginate @users %>
<table>
  <tr>
    <td> Firstname </td>
    <td> Lastname </td>
    <td> Email </td>
    <td> User Id </td>
    <td> Edit</td>
    <td> Admin </td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.id %></td>
    <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
    <td><% if user.admin %>
          (admin)
        <% end %>
    </td>
    </tr>
  <% end %>
</table>





